* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 10px;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(49, 49, 49);
}

.meds {
  border: "1px solid black" !important;
}

@media screen and (max-width: 700px) {
  .stack {
    display: none !important;
  }
}
